/////// Config defaults for site colors ///////
// -----------------------------------------------------------------------------
$white: #fff;
$off-white: #dedede;
$blue: #003761;

/////// Page dimension configuration ///////
// -----------------------------------------------------------------------------
$susy: (
  columns: 12,
  container: 1140px,
  global-box-sizing: border-box
);
